.about-main-banner{
    height: auto;
    width: 100%;
    padding: 80px;
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("/about/main-banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .about-text{
        width: 40%;
        padding: 80px 20px;
        color: white;
        h2{
            font-size: 60px;
            font-weight: 700;
        }
        p{
            margin-bottom: 45px;            
        }
    }
    .about-img{
        position: relative;
        width: 60%;
        height: 100%;
        bottom: 0;
        img{
            margin: 0 auto;
            width: auto;
            bottom: 0;
            left: 0%;
            right: 0%;
            height: auto;
            width: auto;
        }
    }
}



/*ABOUT PEOPLE SECTION*/

.about-people-section{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/about/about-people.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 80px 0;
    .about-people-text{
        text-align: center;
        width: 40%;
        padding: 20px;
        h2{
            font-size: 40px;
        }
        p{
            margin: 45px 0;
        }
    }
}


/*CHOOSING SECTION CONTAINER*/


.choosing-section-container{
    width: 100%;
    height: auto;
    padding: 80px 40px;
    margin: 40px 0;
    .choosing{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e3e3e3;
        padding: 80px;
        border-radius: 18px;
        .choosing-text{
            width: 30%;
            text-align: start;
            h2{
                font-size: 40px;
                font-weight: 500;
            }
            p{
                margin: 45px 0;
            }
        }
        .choosing-carousel{
            width: 70%;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

}



/*DISCOVER ABOUT SECTION*/


.discover-about-container{
    width: 100%;
    height: 700px;
    padding: 80px 40px;
    .discover-about{
        height: 100%;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("/about/discover-about.png");
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        border-radius: 40px;
        color: white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        .discover-about-text{
            text-align: center;
            width: 60%;
            h2{
                font-size: 40px;
                font-weight: 800;
            }
            h3{
                font-size: 30px;
            }
            p{
                margin: 45px 0;
            }
        }
    }
}


/*MEDIA QUERIES*/

@media(max-width: 1175px){
    .about-main-banner{
        height: auto;
        padding: 80px 20px;
        padding-bottom: 0;
        margin-top: 60px;
        .about-text{
            padding: 0;
            width: 100%;
            text-align: center;
            h2{
                font-size: 35px;
            }
            p{
                font-weight: 400;
            }
        }
        .about-img{ 
            width: 100%;
            padding: 0;
            img{
                position: inherit;
                bottom: 0%;
                margin-top: 40px;
            }
        }

    }

    .about-people-section{
        height: auto;
        background-image: none;
        padding: 80px 20px;
        margin: 0;
        .about-people-text{
            width: 100%;
            h2{
                font-size: 28px;
            }
        }
    }
    .choosing-section-container{
        padding: 40px;
        .choosing-text{
            height: auto;
            width: 100%;
            padding: 0;
            margin: 80px 0;
            h2{
                width: 100%;
                font-size: 30px;
            }
            p{
                width: 100%;
            }
        }
    }
    .discover-about-container{
        padding: 20px;
        margin: 80px 0;
        .discover-about{
            padding: 20px;
            .discover-about-text{
                width: 100%;
                h2{
                    font-size: 25px;
                }
                h3{
                    font-size: 25px;
                }
            }
        }
    }
}