.blog-article-carousel{
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 !important;
    
  }
  .blog-article-carousel__container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
  }
  .blog-article-carousel__slide {
    flex: 0 0 100%;
    min-width: 0;
    padding: 20px;
  }

  .blog-article-slide{
    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 18px;
    img{
        width: 100%;
        height: 200px;
        border-radius: 18px;
    }
    h2{
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        margin: 30px 0;
    }
  }

.blog-carousel-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    .blog-carousel-prev{
        width: auto;
        margin: 0 10px;
      }
      .blog-carousel-next{
        width: auto;
        margin: 0 10px;
      }
}

@media(min-width: 1280px){
    .blog-article-slide{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding: 20px;
        border-radius: 18px;
        img{
            width: 100%;
            height: 400px;
        }
        h2{
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            margin: 30px 0;
        }
      }
}