.carousel-title {
  width: 100%;
  text-align: center;
  h2 {
    font-size: 45px;
    font-weight: 500;
  }
}

/*CAROUSEL*/

.col-profile {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 !important;
  height: auto !important;
}
.col-profile__container {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 40px;
}
.col-profile__slide {
  flex: 0 0 40%;
  min-width: auto;
  min-height: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  .cover{
    width: 100%;
    img{
      width: 100%;
      height: auto;
    }
  }
  h2 {
    font-size: 30px;
    font-weight: 600;
  }
  span {
    font-size: 30px;
  }
  .specs {
    height: auto;
    .spec-cont {
      border: 1px solid rgb(218, 218, 218);
      border-radius: 8px;
      height: auto;
      padding: 5px;
      margin-bottom: 10px;
      p, span{
        font-size: 20px;
      }
    }
  }
}

.col-profile-next{
  position: absolute;
  top: 50%;
  right: 0;
  margin: 10px;
}
.col-profile-prev{
  position: absolute;
  top: 50%;
  left: 0;
  margin: 10px;
}

/*MEDIA QUERIES*/

@media (max-width: 1175px) {
  .col-profile__slide {
    flex: 0 0 100%;
    padding: 20px !important;
    img {
      filter: none;
    }
  }
  .col-profile__container{
    padding: 20px;
  }
  .col-profile-next, .col-profile-prev{
    top: 55%;
    img{
      height: 30px;
    }
  }
}
