.color-visualizer-container {
  margin: 50px 0;
  height: auto;
  border-bottom: 1px solid rgb(214, 214, 214);
  z-index: 400;
  .collection-name {
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 40px;
    h2 {
      font-size: 45px;
      color: #000000;
    }
  }
  div[dir=ltr]{
    width: 100%;
  }
  .collection-room {
    position: relative;
    width: 98%;
    height: 800px;
    border-radius: 18px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 18px;
    margin-top: 20px;
    margin: 0 auto;
    .logo-visualizer{
      position: absolute;
      right: 0 !important;
      bottom: 0;
      margin: 20px;
      z-index: 10;
      height: 80px;
      width: auto;
    }
    .room-scene{
      position: absolute;
      bottom: -350px;
      left: 0;
      right: 0;
      width: 100%;
      height: auto;
      margin: 0 auto;
      cursor: zoom-in;
    }

  }

  .collection-room-buttons {
    margin: 20px 0;
    height: auto;
    margin-bottom: 40px;
    padding: 40px;
    img{
        width: 120px;
        height: 70px;
    }
    p {
      font-size: 16px;
      color: rgb(161, 161, 161);
    }
    .tab-button{
      height: auto !important;
    }
    div[role=tablist]{
      height: auto !important;
      margin-top: 20px;
    }
  }
}
.iframe-container{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1000;
}
.expand-container{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(14, 14, 14, 0.747);
  backdrop-filter: blur(8px);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  .close{
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
    height: 25px;
    cursor: pointer;
    box-shadow: none;
    border-radius: none;
  }
  img{
    height: auto;
    width: auto;
    border-radius: 18px;
  }
  .white-logo{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 20px;
    height: 80px;
    width: auto;
    box-shadow: none;
    border-radius: none !important;
  }
}

@media(max-width: 1175px){
  .color-visualizer-container{
    .collection-name{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 40px;
      h2{
        font-size: 35px;
        margin-bottom: 15px;
        line-height: 50px;
      }
      p{
        font-size: 20px;
      }
    }
    .collection-room{
      height: 400px;
      width: 100%;
      padding: 0;
      border-radius: 0;
      img{
        top: 0;
        border-radius: 0;
      }
      .logo-visualizer{
        height: 50px;
      }
    }
  }
  .expand-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(14, 14, 14, 0.747);
    backdrop-filter: blur(8px);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    .close{
      position: absolute;
      right: 0;
      top: 0;
      margin: 20px;
      height: 25px;
      cursor: pointer;
      box-shadow: none;
      border-radius: none;
    }
    img{
      height: auto;
      width: auto;
      border-radius: 18px;
    }
    .white-logo{
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 20px;
      height: 40px;
      width: auto;
      box-shadow: none;
      border-radius: none !important;
      border: 0;
    }
  }
}
