.collections-main-banner{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 80px;
    background-color: #e3e3e3;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    .banner-img{
        width: 50%;
        img{
            margin: 0 auto;
            width: 80%;
        }
    }
    .banner-text{
        width: 50%;
        padding: 40px;
        h2{
            font-size: 45px;
            font-weight: 700;
            margin-bottom: 20px;
        }
        p{
            font-size: 20px;
        }
    }
}

.collections-container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 80px 40px;
    .collection-card{
        width: 40%;
        margin: 40px;
        height: 700px;
        border: 1px solid rgb(209, 209, 209);
        border-radius: 18px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        img{
            width: 100%;
        }
        a{
            margin: 40px 0 !important;
        }
        .card-text{
            height: auto;
            padding: 40px;
            .collection-title{
                display: flex;
                h2{
                    font-size: 40px;

                    margin: 10px 0px;
                }
                h2:nth-child(2){
                    font-weight: 400;
                }
            }
            .collection-specs{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                margin: 40px 0;
                .spec{
                    background-color: #373737;
                    color: white;
                    width: auto;
                    font-size: 20px;
                    font-weight: 600;
                    padding: 10px;
                    border-radius: 12px;
                    margin: 40px 10px ;
                }
            }
        }
    }
}


/*MEDIA QUERIES*/

@media(max-width: 1175px){

    .collections-main-banner{
        background-image: url("/privacy-policy/banner-one.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px;
        .banner-img{
            display: none;
        }
        .banner-text{
            color: white;
            width: 100%;
            text-align: center;
            h2{
                font-size: 35px;
            }
        }
    }
    .collections-container{
        margin-top: 120px;
        padding: 20px;
        .collection-card{
            height: auto;
            width: 100%;
            margin: 20px 0;
            .card-text{
                width: 100%;
                padding: 40px;
                text-align: center;
                .collection-title{
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 20px;
                    h2{
                        margin: 0;
                        text-align: center;
                    }
                }
            }
            img{
                border-radius: 18px;
            }
            .collection-specs{
                flex-direction: column;
                div{
                    width: 100%;
                    text-align: center;
                    margin-bottom: 20px;
                }
            }
        }
    }   
}