.carousel-title {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
  h2 {
    font-size: 50px;
    font-weight: 600;
  }
}

.collections-carousel {
  position: relative;
  height: auto !important;
  width: 100%;
  padding: 0;
  margin: 0;
  .collections-carousel-prev {
    position: absolute;
    top: 45%;
    left: 0;
    margin: 0 60px;
  }
  .collections-carousel-next {
    position: absolute;
    top: 45%;
    right: 0;
    margin: 0 60px;
  }
}

.collections-carousel__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto !important;
}
.collections-carousel__viewport {
  height: auto !important;
  width: 100%;
  overflow: hidden;
}
.collections-carousel__slide {
  flex: 0 0 40%;
  margin: 40px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-bottom: 20px;
  height: auto !important;
  img {
    width: 100%;
    height: auto;
    margin-bottom: 0px;
  }
  h3 {
    font-size: 30px;
    font-weight: 400;
  }
  p {
    margin-bottom: 30px;
  }
  .specs {
    padding: 20px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 8px;
    margin-bottom: 0px;
  }
  a {
    margin-bottom: 0px;
  }
}



/*MENU PRODUCTS SLIDES*/

/*MEDIA QUERIES*/

@media (max-width: 1176px) {
  .collections-carousel__slide {
    padding: 20px !important;
    flex: 0 0 50%;
  }
}
@media (max-width: 1175px) {
  .collections-carousel {
    margin-bottom: 180px;
  }

  .collections-carousel__container {
    height: auto !important;
  }
  .collections-carousel__slide {
    padding: 20px !important;
    flex: 0 0 100%;
    margin: 20px;
    height: 100%;
    text-align: center;
  }
  .collections-carousel-next {
    right: -50px;
  }
  .collections-carousel-prev {
    left: -50px;
  }
  .collection-specs {
    flex-direction: column;
    .specs {
      text-align: center;
      margin-bottom: 20px;
    }
  }
}
