.contact-main-banner {
  width: 100%;
  padding: 20px 80px;
  margin-top: 60px;
  .contact-form-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .contact-form {
      width: 50%;
      padding: 40px;
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2 {
          font-size: 40px;
          font-weight: 700;
        }
        h3 {
          font-weight: 500;
        }
        input {
          border-radius: 12px;
        }
      }
    }
    .contact-img {
      width: 50%;
      padding: 80px;
      background-color: #e3e3e3;
      border-radius: 18px;
      text-align: start;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      h2 {
        font-size: 50px;
        font-weight: 700;
        line-height: 65px;
      }
      p {
        width: 100%;
        margin: 25px 0;
      }
      img {
        margin: 40px auto;
      }
    }
  }
}

/*LOCATE US*/

.locate-container {
  width: 100%;
  padding: 80px;
  .locate {
    width: 100%;
    background-color: #e3e3e3;
    padding: 80px 60px;
    border-radius: 18px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    h2 {
      font-size: 50px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 40px;
    }
    p {
      text-align: center;
      margin-bottom: 40px;
    }
    .locate-img {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      a {
        width: 45%;
        margin: 20px;
        .locate-card {
          text-align: center;
          width: 100%;
          margin: 30px;
          img {
            width: 100%;
            margin: 20px auto;
            height: 100%;
          }
          .mark {
            height: 35px;
            margin: 0px !important;
            width: 10%;
          }
          h3 {
            font-size: 35px;
            font-weight: 500;
            text-align: center;
          }
        }
      }
    }
  }
}

/*CONTACT BANNER SECTION*/

.contact-banner-section {
  width: 100%;
  height: auto;
  padding: 80px;
  z-index: 0;
  .contact-banner {
    height: 550px;
    width: 100%;
    background-image: url("/contact-us/contact-banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    .contact-banner-text {
      text-align: center;
      width: 60%;
      h2 {
        font-size: 55px;
      }
      h3{
        font-size: 35px;
      }
      p {
        margin: 45px 0;
      }
    }
  }
}

/*MEDIA QUERIES*/

@media (max-width: 1175px) {
  .contact-main-banner {
    padding: 20px;
    margin-top: 140px;
    .contact-form-section {
      width: 100%;
      .contact-form {
        width: 100%;
        text-align: center;
        padding: 20px;
      }
      .contact-img {
        width: 100%;
        text-align: center;
        padding: 80px 10px;
        h2{
          font-size: 45px;
          line-height: 50px;
        }
      }
    }
  }

  .locate-container{
    padding: 20px;
    .locate{
      width: 100%;
      padding: 0;
      h2{
        font-size: 35px;
      }
      .locate-img{
        a{
          width: 100%;
          text-align: center;
          .locate-card{
            width: 100%;
            margin: 0 auto;
          }
        }
      }
    }
  }

  .contact-banner-section {
    padding: 20px;
    margin-bottom: 80px;
    .contact-banner {
      padding: 40px;
      .contact-banner-text {
        width: 100%;
      }
    }
  }
}
