.corestep-carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 !important;
    padding: 80px ;
    height: auto;
  }
  .corestep__container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
  }
  .corestep__slide{
    flex: 0 0 40%;
    min-width: 0;
    padding: 40px;
    img{
        margin: 0 auto;
        border-radius: 18px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }

  .corestep-carousel-prev{
    position: absolute;
    top:45%;
    left: 0;
    margin: 0 60px;
  }
  .corestep-carousel-next{
    position: absolute;
    top:45%;
    right: 0;
    margin: 0 60px;
  }


  /*MEDIA QUERIES*/

  @media(max-width: 1175px){
    .corestep-carousel{
      height: auto;
    }
    .corestep__slide{
        flex: 0 0 100%;
        height: 100%;
        width: auto;
        padding: 0;
        margin: 20px;
        img{
          width: auto;
          height: auto;
        }
    }
    .corestep-banner-carousel-container{
      padding: 0;
    }
    .corestep-carousel-next, .corestep-carousel-prev{
      margin: 0 10px;
    }
  }