.embla {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 !important;
    padding: 80px ;
    height: auto;
  }
  .embla__container {
    display: flex;
    width: 100%;
    height: auto;
  }
  .embla__slide {
    flex: 0 0 40%;
    min-width: 0;
    padding: 40px 80px;
    img{
        margin: 0 auto;
        border-radius: 18px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }

  .home-carousel-prev{
    position: absolute;
    top:35%;
    left: 0;
    margin: 0 60px;
  }
  .home-carousel-next{
    position: absolute;
    top:35%;
    right: 0;
    margin: 0 60px;
  }


  /*MEDIA QUERIES*/

  @media(max-width: 1175px){
    .embla{
      height: auto;
    }
    .embla__slide{
        flex: 0 0 100%;
        img{
          width: 100%;
        }
    }
    .home-banner-carousel-container{
      padding: 0;
    }
    .home-carousel-next, .home-carousel-prev{
      margin: 0 10px;
    }
  }