.coresteps-main-banner {
  height: auto;
  width: 100%;
  background-color: white;
  background-image: url("/coresteps/main banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 120px 80px;
  .coresteps-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    width: 100%;
    text-align: center;
    img {
      height: 80px;
      width: auto;
    }
    h2 {
      font-size: 60px;
      font-weight: 500;
    }
    p {
      margin: 20px 0;
      width: 60%;
      margin-bottom: 40px;
    }
  }
}

/*CUSTOM STEPS SECTION*/

.main-steps-container {
  width: 100%;
  padding: 80px;
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .main-steps-text {
    width: 100%;
    padding: 40px;
    text-align: center;
    h2 {
      font-size: 50px;
      font-weight: 500;
    }
    p {
      margin: 25px 0;
    }
  }
}

/*STEPS CARDS SECTION*/

.steps-cards-container {
  width: 100%;
  height: auto;
  padding: 40px;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  .steps-card {
    text-align: center;
    height: 400px;
    width: 400px;
    margin: 40px;
    background-color: #605faa;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    img {
      width: 80%;
      margin: 0 auto;
      margin-top: 80px;
    }
    h3 {
      font-size: 25px;
      font-weight: 600;
      margin-bottom: 40px;
    }
  }
}

.steps-black-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 80px;
  .black-card {
    width: 45%;
    margin: 20px;
    img{
      margin: 0 auto;
    }
  }
}

.brochure {
  position: relative;
  padding: 0 80px;
  margin-bottom: 80px;
  .brochure-banner-container {
    height: 700px;
    width: 80%;
    background-image: url("/coresteps/brochure-banner-1.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    .brochure-card {
      position: absolute;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      right: 5%;
      width: 40%;
      height: 50%;
      border-radius: 18px;
      background-color: #373737;
      color: white;
      padding: 20px;
      text-align: center;
      h2 {
        font-size: 40px;
        font-weight: 700;
      }
      p {
        margin-bottom: 20px;
      }
    }
  }


}

/*BROCHURE*/

.brochure-2{
    position: relative;
    padding: 0 80px;
    .brochure-banner-container-2 {
        height: 700px;
        width: 100%;
        background-image: url("/coresteps/brochure-banner-2.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size: contain;

        background-position-y:50%;
        display: flex;
        align-items: center;
        justify-content: end;
        margin: 20px 0 ;
        .brochure-card-2 {
          position: absolute;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          left: 5%;
          width: 40%;
          height: 50%;
          border-radius: 18px;
          background-color: #373737;
          color: white;
          padding: 20px;
          text-align: center;
          h2 {
            font-size: 40px;
            font-weight: 700;
          }
          p {
            margin-bottom: 20px;
          }
        }
      }
}

/*BLACK BANNER*/

.black-banner-container{
  padding: 80px;
  width: 100%;
  .black-banner{
    width: 100%;
    height: 600px;
    padding: 80px;
    border-radius: 18px;
    background-color: #2b2b2b;
    .black-banner-title{
      color: white;
      text-align: center;
      margin-bottom: 60px;
      h2{
        font-size: 50px;
        margin-bottom: 20px;
        font-weight: 600;
      }
    }
    .black-cards-container{
      width: 100%;
      .black-card{
        width: 30%;
        height: auto;
        color: white;
        text-align: center;
        img{
          margin: 0 auto;
          margin-bottom: 20px;
        }
        h3{
          font-size: 25px;
          font-weight: 600;
          margin-bottom: 15px;
        }
      }
    }

  }
}

/*LAST BANNER*/

.last-banner-container {
  width: 100%;
  padding: 80px;
  .last-banner {
    width: 100%;
    height: 600px;
    background-image: url("/coresteps/last-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2 {
      font-size: 65px;
      font-weight: 700;
      line-height: 60px;
    }
    h3 {
      font-size: 25px;
      margin: 25px 0;
    }
  }
}

/*MEDIA QUERIES*/

@media (max-width: 1175px) {
  .coresteps-main-banner {
    padding: 40px 10px;
    margin-top: 80px;
    .coresteps-text {
      width: 100%;
      text-align: center;
      margin-bottom: 80px;
      h2 {
        font-size: 25px;
        line-height: 40px;
        margin-bottom: 20px;
      }
      p {
        width: 100%;
      }
    }
  }

  .main-steps-container {
    padding: 0;
    .main-steps-text {
      width: 100%;
      text-align: center;
      h2,
      h3 {
        font-size: 25px;
      }
    }
    .main-steps-img {
      width: 100%;
      text-align: center;
      img {
        margin: 0 auto;
        margin-bottom: 40px;
      }
    }
  }
  .steps-cards-container {
    padding: 40px;
    .steps-card {
      width: 100%;
      margin: 40px 0;
      h3 {
        font-size: 20px;
      }
    }
  }

  .steps-black-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px;
    margin-bottom: 60px;
    .black-card {
      width: 100%;
      margin: 20px;
      img{
        width: 100%;
      }
    }
  }

  .purchase-container {
    padding: 20px;
    .purchase {
      padding: 80px 20px;
      .purchase-img {
        width: 90%;
        margin-bottom: 40px;
        img {
          margin: 0 auto;
          height: 100%;
          max-width: 100%;
        }
      }
      .purchase-text {
        text-align: center;
        p {
          margin-bottom: 80px;
        }
      }
    }
  }

  .brochure{
    position: inherit;
    padding: 20px;
    height: auto !important;
    margin-bottom: 20px;
    .brochure-banner-container{
      background-image: none;
      width: 100%;
      height: auto;
      .brochure-card{
        position: inherit;
        width: 100%;
        height: auto;
        padding: 40px 20px;
        h2{
          font-size: 30px;
          margin-bottom: 15px;
        }
      }
    }

  }

  .brochure-2{
    position: inherit;
    padding: 20px;
    height: auto !important;
    .brochure-banner-container-2{
      background-image: none;
      width: 100%;
      height: auto;
      .brochure-card-2{
        position: inherit;
        width: 100%;
        height: auto;
        padding: 40px 20px;
        h2{
          font-size: 30px;
          margin-bottom: 15px;
        }
      }
    }

  }

 .black-banner-container{
  padding: 20px;
  height: auto;
  .black-banner{
    height: auto;
    .black-banner-title{
      h2{
        font-size: 30px;
      }
    }
    .black-cards-container{
      .black-card{
        width: 100%;
        margin-bottom: 60px;
      }
    }
  }
 }
  .documents-cards-container {
    padding: 40px;
    .documents-card {
      width: 100%;
      padding: 0;
      img {
        margin: 0 auto;
        width: 100%;
      }
    }
  }
  .last-banner-container {
    padding: 20px;
    .last-banner {
      h2 {
        font-size: 35px;
      }
    }
  }
}
