.faq-main-banner{
    height: auto;
    width: 100%;
    padding: 40px 80px;
    background-image: url('/faq/faq-banner.png');
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    margin-top: 40px;
    .faq-banner-text{
        width: 50%;
        padding: 80px 0;
        color: white;
        h2{
            font-size: 40px;
            font-weight: 700;
        }
        p{
            margin: 40px 0;
        }
    }
    .faq-banner-img{
        width: 50%;
        img{
            max-width: 100%;
            margin: 0 auto;
        }
    }
}


/*ACCORDION SECTION*/

.accordion-container{
    width: 100%;
    height: auto;
    padding: 80px 0;
    h3{
        font-size: 23px;
    }
    p{
        font-size: 18px;
        line-height: 30px;
    }
}
.lucide-chevron-down{
    svg{
        font-size: 90px;
    }
}

/*FAQ CONTACT BANNER*/

.faq-contact-banner{
    width: 100%;
    height: 90vh;
    padding: 80px 40px;
    .faq-contact-section{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("/faq/chikdren.png");
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 18px;
        .faq-text{
            color: white;
            width: 60%;
            text-align: center;
            h2{
                font-size: 40px;
                font-weight: 700;
            }
            p{
                margin-bottom: 40px;
            }
        }
    }
}


/*MEDIA QUERIES*/

@media(max-width:1175px){
    .faq-main-banner{
        height: 100vh;
        padding: 20px;
        margin-top: 80px;
        background-position: left;
        .faq-banner-text{
            width: 100%;
            text-align: center;
            padding: 0;
            h2{
                margin-top: 40px;
                font-size: 28px;
            }
        }
        .faq-banner-img{
            width: 100%;
        }
    }

    .accordion-container{
        padding: 80px 0px;
        p{
            text-align: start;
        }
    }

    .faq-contact-banner{
        padding: 20px;
        .faq-contact-section{
            background-position: center;
            .faq-text{
                h2{
                    font-size: 25px;
                    margin-bottom: 40px;
                }
            }
        }
    }
}