footer{
    width: 100%;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    background-color: white;
    padding: 0 40px;
    .footer-container{
        display: flex;
        justify-content: space-between;
        align-items: start;
        border-bottom: 2px solid #797979;
        padding: 80px;
        .footer-container-social{
            display: flex;
            flex-direction: column;
            align-items: start;
            width: 20%;
            .social-icons{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                img{
                    margin: 25px;
                    margin-left: 0;
                }
            }
        }
        .footer-container-links{
            display: flex;
            justify-content: end;
            flex-wrap: wrap;
            width: 80%;
            .links-container{
                display: list-item;
                list-style: none;
                margin: 25px 45px;
                h3{
                    font-weight: 600;
                    margin-bottom: 25px;
                }
                a{
                    display: list-item;
                    text-decoration: none;
                    list-style: none;

                    margin-bottom: 15px;
                }
            }
        }

    }
    .copyright-footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        p{
            font-size: 14px;
            font-weight: 600;
        }
    }
}


/*MEDIA QUERIES*/


@media(max-width: 1280px){
    footer{
        .footer-container{
            flex-direction: column;
            padding: 40px 0;
            .footer-container-social{
                justify-content: center;
                align-items: center;
                width: 100%;
                margin-top: 40px;
            }
            .footer-container-links{
                width: 100%;
                justify-content: center !important;
                align-items: center !important;
                .links-container{
                    width: 100% !important;
                    text-align: center;
                    a{
                        text-align: center;
                    }

                }
            }
        }
        .copyright-footer{
            width: 100%;
            justify-content: center;
            p{
                width: 100% !important;
                font-size: 12px;
                text-align: center;
                margin-bottom: 60px;
            }
            .footer-img{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img{
                    margin: 25px 0;
                }
                
            }
        }

    }

}