.desktop-header {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  padding: 0px 50px;
  justify-content: space-between;
  align-items: center;
  // background-image: url("../../../public/header-texture.svg");
  // background-position: center;
  // background-size: cover;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(189, 189, 189);
  z-index: 100;
  .desktop-nav {
    display: flex;
    padding: 40px 0;
    .composed-link {
        margin: 0 15px;
        font-weight: 600;
        a, img{
            cursor: pointer;
        }
    }
    a{
        margin: 0 15px;
        font-weight: 600;
    }

  }
}
.header-promo {
  background-color: #6f6f6f;
  padding: 15px;
  color: white;
  font-weight: 400;
  text-align: center;
}

.products-menu{
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 300;
  background-color: #e3e3e3;
  overflow: hidden;
  border-bottom: 1px solid black;
  .menu-products-carousel{
    width: 50%;
  }
  .product-menu-links-container{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: start;
    padding: 40px;
    .links-container{
      width: 30%;
      h3{
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 20px;
        border-bottom: 1px solid black;
        margin-bottom: 20px;
      }
      a{
        display: list-item;
        margin: 10px 0;
        list-style: none;
      }
    }
  }
}

.inspired-menu{
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 300;
  background-color: #e3e3e3;
  overflow: hidden;
  border-bottom: 1px solid black;
  padding: 20px;
  .inspired-menu-card{
    text-align: center;
    margin: 25px;
    p{
      font-weight: 600;
    }
    img{
      margin: 25px auto;
    }
  }
}



/*MOBILE HEADER*/

.mobile-header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(240, 240, 240);
  border-bottom: 1px solid rgb(207, 207, 207);
  z-index: 300;
  .menu-bar{
    cursor: pointer;
  }
}
.mobile-nav{
  position: fixed;
  width: 100%;
  background-color: white;
  top: 90px;
  left: 0;
  right: 0;
  z-index: 300;
  overflow: hidden;
  .mobile-nav-links{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px;
    .composed-link{
      width: 100%;
      img{
        border-bottom: 1px solid rgb(199, 199, 199);
        cursor: pointer;
      }
    }
    a{
      padding: 25px 0;
      border-bottom: 1px solid rgb(199, 199, 199);
      width: 100%;
      font-weight: 600;
    }
  }
}







/*MEDIA QUERIES*/

@media(max-width: 1280px){
  .desktop-header{
    display: none;
  }
  .products-menu{
    display: none;
  }
  .header-promo{
    display: none;
  }

  .mobile-header{
    .header-mobile-logo{
      height: 50px;
    }
  }
    
}
@media(min-width: 1280px){
  .mobile-header{
    display: none;
  }
  .mobile-nav{
    display: none;
  }
}
