.desktop-header {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  padding: 0px 50px;
  justify-content: space-between;
  align-items: center;
  // background-image: url("../../../public/header-texture.svg");
  background-position: center;
  background-size: cover;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(189, 189, 189);
  z-index: 100;
  .desktop-nav {
    display: flex;
    padding: 40px 0;
    .composed-link {
        margin: 0 15px;
        font-weight: 600;
        a, img{
            cursor: pointer;
        }
    }
    a{
        margin: 0 15px;
        font-weight: 600;
    }

  }
}
.header-promo {
  background-color: #6f6f6f;
  padding: 15px;
  color: white;
  font-weight: 400;
  text-align: center;
}

.products-menu{
  height: auto;
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 300;
  background-color: #e3e3e3;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  z-index: 95;
  color: white;
  .menu-products-carousel{
    width: 40%;
  }
  .product-menu-links-container{
    height: auto;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: start;
    padding: 40px;
    .links-container{
      height: auto;
      width: 50%;
      padding: 20px;
      color: #373737;
      h3{
        font-size: 20px;
        font-weight: 600;
        border-bottom: 2px solid #373737;
        padding-bottom: 15px;
      }
      a{
        display: list-item;
        margin: 10px 0;
        list-style: none;
      }
    }
  }
}


.inspired-menu{
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 300;
  background-color: #e3e3e3;
  overflow: hidden;
  padding: 20px;
  .inspired-menu-card{
    text-align: center;
    margin: 25px;
    p{
      font-weight: 600;
    }
    img{
      margin: 25px auto;
    }
  }
}



/*MOBILE HEADER*/

.mobile-header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(240, 240, 240);
  border-bottom: 1px solid rgb(207, 207, 207);
  z-index: 500;
  box-shadow: rgba(0, 0, 0, 0.171) 0px 19px 38px, rgba(0, 0, 0, 0.027) 0px 15px 12px;
  .menu-bar{
    cursor: pointer;
  }
}
.mobile-nav{
  position: fixed;
  width: 100%;
  height: auto;
  background-color: white;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 99 !important;
  overflow-y: scroll;
  color: black;
  .mobile-nav-links{
    margin-top: 140px;
    height: auto;
    width: 100%;
    overflow-y: scroll;
    .link-container{
      a{
        font-weight: 400;
      }
      .link-container-list{
        background-color: #e9e9e9;
        border-radius: 12px;
        margin-bottom: 20px;
        a{
          padding-bottom: 10px;
          border-bottom: 1px solid rgb(214, 214, 214);
        }
      }
    }
    .link-container-normal{
      border-bottom: 1px solid #e5e7eb;
      a{
        font-weight: 500;
      }
    }
    img{
      opacity: 0.1;
    }
  }
}

.mobile-nav::-webkit-scrollbar, .mobile-nav-links::-webkit-scrollbar{
  display: none !important;
}





/*MEDIA QUERIES*/

@media(max-width: 1175px){
  .desktop-header{
    display: none;
  }
  .products-menu{
    display: none;
  }
  .header-promo{
    display: none;
  }

  .mobile-header{
    .header-mobile-logo{
      height: 50px;
    }
  }
  .inspired-menu{
    display: none;
  }
    
}
@media(min-width: 1176px){
  .mobile-header{
    display: none;
  }
  .mobile-nav{
    display: none;
  }
}
