.embla {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 !important;
  }
  .embla__container {
    display: flex;
    width: 100%;
    height: 600px;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    padding: 40px 80px;
  }

  .home-carousel-prev{
    position: absolute;
    top: 45%;
    left: 0;
    margin: 0 60px;
  }
  .home-carousel-next{
    position: absolute;
    top: 45%;
    right: 0;
    margin: 0 60px;
  }


/*HOME SLIDES*/


.home-slide-one{
    height: 100%;
    .content{
        background-color: transparent;
        background-image: url("/home/slide1.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        border-radius: 20px;
        border: none;
        color: white;
        padding: 80px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2{
            font-size: 40px;
            font-weight: 700;
            line-height: 25px;
        }
        h3{
            font-size: 40px;
        }
        p{
            width: 40%;
            margin: 30px 0;
        }
        a{
            width: 14%;
            text-align: center;
        }
    }
}
.home-slide-two{
    height: 100%;
    .content{
        background-color: transparent;
        background-image: url("/home/slide2.png");
        background-size: cover;
        background-position-y: 0;
        background-repeat: no-repeat;
        height: 100%;
        border-radius: 20px;
        border: none;
        color: white;
        padding: 80px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2{
            font-size: 40px;
            font-weight: 700;
            line-height: 25px;
        }
        h3{
            font-size: 40px;
        }
        p{
            width: 40%;
            margin: 30px 0;
        }
        a{
            width: 14%;
            text-align: center;
        }
    }
}
.home-slide-three{
    height: 100%;
    .content{
        background-color: transparent;
        background-image: url("/home/slide3.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        border-radius: 20px;
        border: none;
        color: white;
        padding: 80px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2{
            font-size: 40px;
            font-weight: 700;
            line-height: 25px;
        }
        h3{
            font-size: 40px;
        }
        p{
            width: 40%;
            margin: 30px 0;
        }
        a{
            width: 14%;
            text-align: center;
        }
    }
}
.home-slide-four{
    height: 100%;
    .content{
        background-color: transparent;
        background-image: url("/home/slide4.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        border-radius: 20px;
        border: none;
        color: white;
        padding: 80px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2{
            font-size: 40px;
            font-weight: 700;
            line-height: 25px;
        }
        h3{
            font-size: 40px;
        }
        p{
            width: 40%;
            margin: 30px 0;
        }
        a{
            width: 14%;
            text-align: center;
        }
    }
}
.home-slide-five{
    height: 100%;
    .content{
        background-color: transparent;
        background-image: url("/home/slide5.png");
        background-size: cover;
        background-position-y: 0;
        background-repeat: no-repeat;
        height: 100%;
        border-radius: 20px;
        border: none;
        color: white;
        padding: 80px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2{
            font-size: 40px;
            font-weight: 700;
            line-height: 25px;
        }
        h3{
            font-size: 40px;
        }
        p{
            width: 40%;
            margin: 30px 0;
        }
        a{
            width: 14%;
            text-align: center;
        }
    }
}
.home-slide-six{
    height: 100%;
    .content{
        background-color: transparent;
        background-image: url("/home/slide6.png");
        background-size: cover;
        background-position-y: 0;
        background-repeat: no-repeat;
        height: 100%;
        border-radius: 20px;
        border: none;
        color: white;
        padding: 80px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2{
            font-size: 40px;
            font-weight: 700;
            line-height: 25px;
        }
        h3{
            font-size: 40px;
        }
        p{
            width: 40%;
            margin: 30px 0;
        }
        a{
            width: 14%;
            text-align: center;
        }
    }
}
.home-slide-seven{
    height: 100%;
    .content{
        background-color: transparent;
        background-image: url("/home/slide7.png");
        background-size: cover;
        background-position-y: 0;
        background-repeat: no-repeat;
        height: 100%;
        border-radius: 20px;
        border: none;
        color: white;
        padding: 80px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2{
            font-size: 40px;
            font-weight: 700;
            line-height: 25px;
        }
        h3{
            font-size: 40px;
        }
        p{
            width: 40%;
            margin: 30px 0;
        }
        a{
            width: 14%;
            text-align: center;
        }
    }
}



/*MEDIA QUERIES*/

 @media(max-width: 1280px){
    .embla__slide{
        padding: 20px !important;
    }

    .home-carousel-next, .home-carousel-prev{
        margin: 10px;
    }
    .home-slide-one, .home-slide-two, .home-slide-three, .home-slide-four{
        .content{
            text-align: center;
            width: 100%;
            height: 100%;
            padding: 10px;
            h2{
                font-size: 28px;
            }
            h3{
                font-size: 28px;
                margin-bottom: 40px;
            }
            p{
                width: 80%;
                margin: 0 auto;
            }
            a{
                width: 50%;
                margin: 0 auto;
                margin-top: 40px;
            }
        }
    }
 }