/*MAIN BANNER*/

.main-banner {
  position: relative;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url("/home/main-banner-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0a0a0a;
  color: white;
  padding: 40px 80px;
  padding-bottom: 0;
  overflow: hidden;
  margin-top: 25px;
  .main-banner-text{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 0;
    h1 {
      font-weight: 700;
      font-size: 60px;
      width: 100%;
      text-align: center;
      line-height: 60px;
      margin-bottom: 40px;
    }
    p {
      width: 100%;
      text-align: center;
      font-size: 25px;
      margin-bottom: 40px;
    }
  }
}


/*LOGOS*/

.logos {
  img {
    width: 100% !important;
  }
}

/*ROOMVO SECTION*/

.roomvo-section-container {
  width: 100%;
  height: auto;
  padding: 40px 80px;
  .roomvo-section {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 18px;
    padding: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    .roomvo-img {
      width: 50%;
      padding: 20px;
    }
    .roomvo-text {
      width: 50%;
      padding: 40px;
      h2 {
        font-size: 40px;
        font-weight: 700;
      }
      h3 {
        font-size: 38px;
      }
      p {
        margin: 25px 0;
        margin-bottom: 40px;
      }
    }
  }
}

/*DISCOVER SECTION*/

.discover-section-container {
  width: 100%;
  height: auto;
  padding: 40px 80px;
  .discover {
    height: 100%;
    background-color: #e3e3e3;
    border-radius: 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 80px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    .discover-img {
      width: 50%;
      img {
        width: 100%;
        margin: 0 auto;
      }
    }
    .discover-text {
      width: 50%;
      padding: 80px 20px;
      padding-top: 0;
      h2 {
        font-weight: 500;
        font-size: 35px;
        line-height: 45px;
      }
      p {
        margin: 40px 0;
      }
    }
  }
}

/*ORDER SECTION*/

.order-section-container {
  height: 600px;
  width: 100%;
  padding: 40px 80px;
  .order {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url("/home/order-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
    color: white;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    .order-section-text {
      width: 35%;
      z-index: 20;
      h2 {
        font-size: 40px;
        line-height: 40px;
      }
      p {
        margin: 40px 0;
      }
    }
  }
}

.order::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #0000007e;
  border-radius: 18px;
}

/*AVAILABLE SECTION*/

.available-section-container {
  width: 100%;
  padding: 40px 80px;
  height: auto;
  .available-section-title {
    text-align: center;
    margin: 80px 0;
    h2 {
      font-size: 40px;
      font-weight: 700;
    }
    p {
      width: 70%;
      text-align: center;
      margin: 0 auto;
      padding: 40px 0;
    }
  }
  .available-accessories-container {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 40px 20px;
    padding: 0;
    .available-accessories-div-one {
      position: relative;
      height: 240px;
      width: 370px;
      background-color: #212121;
      color: white;
      border-radius: 18px;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center;
      margin: 60px 20px;
      img{
        position: absolute;
        top: -20%;
        width: 80%;
      }
      h2 {
        font-size: 30px;
        font-weight: 600;
      }
      a {
        margin: 20px 0;
        color: white;
        padding: 15px 35px;
        border-radius: 8px;
        border: 1px solid white;
        margin-bottom: 30px
      }
    }
    .available-accessories-div-two {
      position: relative;
      height: 240px;
      width: 370px;
      background-color: #212121;
      color: white;
      border-radius: 18px;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center;
      margin: 60px 40px;
      img{
        position: absolute;
        top: -20%;
        width: 80%;
      }
      h2 {
        font-size: 30px;
        font-weight: 600;
      }
      a {
        margin: 20px 0;
        color: white;
        padding: 15px 35px;
        border-radius: 8px;
        border: 1px solid white;
        margin-bottom: 30px
      }
    }
    .available-accessories-div-three {
      position: relative;
      height: 240px;
      width: 370px;
      background-color: #212121;
      color: white;
      border-radius: 18px;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center;
      z-index: 1;
      margin: 60px 40px;
      img{
        position: absolute;
        top: -45%;
        width: 70%;
        z-index: -1;
      }
      h2 {
        font-size: 30px;
        font-weight: 600;
      }
      a {
        margin: 20px 0;
        color: white;
        padding: 15px 35px;
        border-radius: 8px;
        border: 1px solid white;
        margin-bottom: 30px
      }
    }
  }
}

/*DELIVER SECTION*/

.deliver-section-container {
  width: 100%;
  height: auto;
  padding: 40px 80px;
  .deliver-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 18px;
    padding: 80px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    .deliver-img {
      width: 50%;
      img {
        max-width: 90%;
        margin: 0 auto;
      }
    }
    .deliver-text {
      width: 50%;
      h2 {
        font-size: 40px;
        font-weight: 700;
      }
      h3 {
        font-size: 38px;
      }
      p {
        margin: 25px 0;
        margin-bottom: 40px;
      }
    }
  }
}

/*RIGID CORE SECTION*/

.rigid-core-container {
  .rigid-core {
    position: relative;
    width: 100%;
    height: 1200px;
    margin-top: 80px;
    background-image: url("/home/mountain-banner.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 400px ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: end;
    .rigid-core-text {
      height: 40%;
      text-align: center;
      h2 {
        font-size: 80px;
        font-weight: 700;
      }
      h3 {
        font-size: 35px;
        margin-bottom: 40px;
      }
      p {
        width: 60%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 45px;
      }
    }
    .plank {
      position: absolute;
      top: 0%;
      left: 0;
      right: 0;
      margin: 0 auto;
      max-width: 50%;
      height: 800px;
      z-index: -1;
    }
    .cloud {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 100%;
      z-index: 1;
    }
  }
}

/*MEDIA QUERIES*/

@media(min-width: 1175px){
  .order::after{
    display: none;
  }
}

@media (max-width: 1175px) {
  /*MAIN BANNER*/

  .main-banner {
    height: 70vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #0f0f0f;
    background-position: center;
    padding: 120px 20px 0px 20px;
    margin-top: 80px;
    .main-banner-text{
      padding: 0;
      height: auto;
      h1{
        font-size: 50px;
        margin-bottom: 40px;
      }
      p{
        margin-bottom: 35px;
      }
    }
  }

  /*ROOMVO SECTION*/

  .roomvo-section-container {
    padding: 60px 20px;
    height: auto;
    .roomvo-section {
      padding: 20px 20px;
      height: auto;
      .roomvo-img {
        width: 100%;
        margin: 0;
        margin-bottom: 25px;
        padding: 0;
        img{
          margin: 0 auto;
          width: 100%;
        }
      }
      .roomvo-text {
        width: 100%;
        text-align: center;
        padding: 20px;
        h2 {
          font-size: 28px;
        }
        h3 {
          font-size: 20px;
        }
        a{
          margin-bottom: 60px;
        }
      }
    }
  }

  /*DISCOVER SECTION*/

  .discover-section-container {
    padding: 40px 20px;
    height: auto;
    .discover {
      padding:  20px;
      .discover-text {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
        padding: 40px 0;
        h2 {
          font-size: 32px;
        }
      }
      .discover-img {
        width: 100%;
        padding-bottom: 40px;
      }
    }
  }

  /*ORDER SECTION*/

  .order-section-container {
    padding: 20px;
    height: auto;
    .order {
        height: auto;
      .order-section-text {
        padding: 80px 0;
        width: 100%;
        text-align: center;
        z-index: 10;
      }
    }
  }


  /*AVAILABLE SECTION*/

  .available-section-container {
    padding: 40px 20px;
    padding-top: 0;
    .available-section-title {
      width: 100%;
      padding-bottom: 0;
      h2 {
        font-size: 28px;
      }
      p {
        width: 100%;
      }
    }
    .available-accessories-container {
      justify-content: center;
      width: 100%;
      margin: 0;
      padding-bottom: 0;
      .available-accessories-div-one,
      .available-accessories-div-two,
      .available-accessories-div-three {
        width: 100%;
        margin: 80px 0;
      }
    }
  }

  /*DELIVER SECTION*/

  .deliver-section-container {
    padding: 20px;
    .deliver-section {
      padding: 20px;
      .deliver-img {
        width: 100%;
        margin: 40px 0;
      }
      .deliver-text {
        text-align: center;
        width: 100%;
        padding-bottom: 80px;
        h2,
        h3 {
          font-size: 28px;
        }
      }
    }
  }

  /*RIGID CORE SECTION*/

  .rigid-core-container {
    display: none;
  }
}
