.home-banner-carousel-container{
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 !important;
  }
  .home-banner-carousel__container {
    display: flex;
    width: 100%;
    height: 700px;
  }
  .home-carousel__slide{
    flex: 0 0 100%;
    min-width: 0;
    padding: 80px 20px;
    height: 700px;
  }

  .home-carousel-prev{
    position: absolute;
    top: 45%;
    left: 0%;
    margin: 0 60px;
  }
  .home-carousel-next{
    position: absolute;
    top: 45%;
    right: 0%;
    margin: 0 60px;
  }


/*HOME SLIDES*/


.home-slide-one{
    height: 100%;
    border-radius: 18px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    .content{
        background-color: transparent;
        background-image: url("/home/slide1.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        border-radius: 20px;
        border: none;
        color: white;
        padding: 80px 120px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        h2{
            font-size: 45px;
            font-weight: 500;
            line-height: 50px;
        }

        p{
            width: 50%;
            margin: 30px 0;
        }
        a{
            max-width: 20%;
            text-align: center;
        }
    }
}
.home-slide-two{
    height: 100%;
    border-radius: 18px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    .content{
        background-color: transparent;
        background-image: url("/home/slide7.png");
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        height: 100%;
        border-radius: 20px;
        border: none;
        color: white;
        padding: 80px 120px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        h2{
            font-size: 45px;
            font-weight: 500;
            line-height: 50px;
        }

        p{
            width: 50%;
            margin: 30px 0;
        }
        a{
            max-width: 20%;
            text-align: center;
        }
    }
}

.home-slide-three{
    height: 100%;
    border-radius: 18px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    .content{
        background-color: transparent;
        background-image: url("/home/slide3.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        border-radius: 20px;
        border: none;
        color: white;
        padding: 80px 120px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        h2{
            font-size: 45px;
            font-weight: 500;
            line-height: 50px;
        }

        p{
            width: 50%;
            margin: 30px 0;
        }
        a{
            max-width: 20%;
            text-align: center;
        }
    }

}

.home-slide-four{
    height: 100%;
    border-radius: 18px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    .content{
        background-color: transparent;
        background-image: url("/home/slide5.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        border-radius: 20px;
        border: none;
        color: white;
        padding: 80px 120px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        h2{
            font-size: 45px;
            font-weight: 500;
            line-height: 50px;
        }

        p{
            width: 50%;
            margin: 30px 0;
        }
        a{
            max-width: 20%;
            text-align: center;
        }
    }

}




/*MEDIA QUERIES*/

 @media(max-width: 1175px){
    .home-banner-carousel-container{
        padding-bottom: 80px;
    }
    .home-carousel__slide{
        padding: 10px !important;
    }

    .home-carousel-next, .home-carousel-prev{
        margin: 10px;
    }
    .home-slide-one{
        .content{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            height: 100%;
            padding: 10px;
            h2{
                font-size: 38px;
            }
            p{
                width: 80%;
                margin: 20px auto;
            }
            a{
                width: 100%;
                
            }
        }
    }
    .home-slide-two{
        .content{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            height: 100%;
            padding: 10px;
            h2{
                font-size: 38px;
            }
            p{
                width: 80%;
                margin: 20px auto;
            }
            a{
                width: 100%;
            }
        }
    }
    .home-slide-three{
        .content{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            height: 100%;
            padding: 10px;
            h2{
                font-size: 38px;
            }
            p{
                width: 80%;
                margin: 20px auto;
            }
            a{
                width: 100%;
            }
        }
    }
    .home-slide-four{
        .content{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            height: 100%;
            padding: 10px;
            h2{
                font-size: 38px;
            }
            p{
                width: 80%;
                margin: 20px auto;
            }
            a{
                width: 100%;
                text-align: center;
            }
        }
    }
 }