.embla {
    position: relative;
    overflow: hidden;
    width: 80%;
    margin: 0 !important;
  }
  .embla__container {
    display: flex;
    width: 80%;
    height: 100%;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    min-height: 400px;
    padding: 40px;
  }



.menu-carousel-buttons{
    position: absolute;
    max-height: 40px;
    bottom: 15%;
    margin: 0 auto;
    padding: 10px;
    img{
      max-width: 80%;
    }
}

/*MENU PRODUCTS SLIDES*/

.menu-slide-carousel-one{
    height: 80%;
    border-radius: 18px;
    .content{
      position: relative;
        background-image: url("/home/menu-carousel-1.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: start;
        padding: 20px;
        border-radius: 18px;

        h2{
            font-size: 20px;
            font-weight: 600;
        }
    }
}

.menu-slide-carousel-two{
  height: 80%;
  border-radius: 18px;
  .content{
    position: relative;
      background-image: url("/home/project20.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      color: white;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: start;
      padding: 20px;
      border-radius: 18px;

      h2{
          font-size: 20px;
          font-weight: 600;
      }
  }
}
.menu-slide-carousel-three{
  height: 80%;
  border-radius: 18px;
  .content{
    position: relative;
      background-image: url("/home/alpha22.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      color: white;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: start;
      padding: 20px;
      border-radius: 18px;

      h2{
          font-size: 20px;
          font-weight: 600;
      }
  }
}
.menu-slide-carousel-four{
  height: 80%;
  border-radius: 18px;
  .content{
    position: relative;
      background-image: url("/home/spiritxl.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      color: white;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: start;
      padding: 20px;
      border-radius: 18px;

      h2{
          font-size: 20px;
          font-weight: 600;
      }
  }
}





/*MEDIA QUERIES*/

 @media(max-width: 1280px){
    .embla__slide{
        padding: 20px !important;
    }
 }