.main-banner-policy{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    margin-top: 40px;
    background-color: #e3e3e3;
    .main-banner-text-policy{
        height: auto;
        width: 50%;
        padding: 80px 0;
        color: black;
        h2{
            font-size: 45px;
            font-weight: 600;
            margin-bottom: 15px;
        }
        p{
            margin: 55px 0;
            margin-top: 25px;
        }
    }
    .main-banner-img-policy{
        width: 50%;
        img{
            width: 90%;;
            margin: 0 auto;
        }
    }
}

.banner-one-container{
    width: 100%;
    height: auto;
    padding: 80px;
    .banner-one{
        background-image: url('/privacy-policy/banner-one.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 22px;
        height: 600px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 120px 0;
        h2{
            font-size: 45px;
            font-weight: 600;
        }
        p{
            width: 60%;
            margin: 25px 0;
            margin-bottom: 45px;
        }
    }
}

.terms-container{
    padding: 120px;
    h2{
        font-size: 35px;
        font-weight: 600;
    }
    h4{
        font-size: 20px;
        font-weight: 500;
        margin: 20px 0;
    }
    p{
        margin: 25px 0;
    }

}


//MEDIA QUERIES

@media(max-width: 1175px){
    .main-banner-policy{
        padding:80px 20px;
        height: auto;
        .main-banner-text-policy{
            width: 100%;
            padding: 0;
            text-align: center;
            margin-top: 40px;
            h2{
                font-size: 25px;
            }
        }
        .main-banner-img-policy{
            width: 100%;
            padding: 0;
            margin-top: 60px;
            img{
                max-width: 100% !important;
            }
        }
    }
    .terms-container{
        padding: 80px 20px;
        text-align: center;
    }

    .banner-one-container{
        padding: 20px;
        margin-bottom: 35px;
        .banner-one{
            padding: 0;
            background-position: left;
            h2{
                font-size: 25px;
            }
            p{
                width: 90%;
            }
        }
    }
    .banner-two-container{
        padding: 20px;
        margin-bottom: 35px;
        .banner-two{
            padding: 0;
            h2{
                font-size: 25px;
            }
            p{
                width: 90%;
            }
        }
    }
}