.room-img-container{
    width: 100% !important;
    padding: 0;
    margin: 0;
    flex-wrap: wrap !important;
    .room-img{
        width: 50% !important;
        padding: 0px;
        padding: 60px;  
        .scene{
            height: 100% !important;
            width: auto !important;
            max-width: 100% !important;
            margin: 0 auto;
            border-radius: 18px;
        }
    }
    .room-buttons{
        margin: 40px 0 !important;
        background-color: none;
        width: 50%;
        text-align: start !important;
        flex-wrap: wrap;
        h2{
            font-size: 65px;
            text-align: start !important;
            font-weight: 700;
            padding: 0 20px;
        }
        h3{
            font-size: 65px;
            font-weight: 300;
        }
        p{
            margin-bottom: 40px;
            padding: 0 20px;
        }
        .tab-list{
            width: 70% !important;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            button{
                width: auto;
                background-color: transparent;
                border: none;
                img{
                    height: 100% !important;
                    width: auto;
                    margin: 10px !important;
                    border-radius: 12px;
                    
                }
            }
            button:active{
                background-color: transparent !important;
            }
        }
    }
}

@media(max-width: 1175px){
    .room-img-container{
        width: 100%;
        .room-img{
            width: 100%;
            padding: 0;
        }
    }
}

