.tabs-container {
  margin: 80px 0;
  height: auto;
  div[role="tablist"]{
    width: auto;
    justify-content: center !important;
    height: auto;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    button{
      padding: 20px 45px;
      border-radius: 12px;
      border: 1px solid rgb(214, 214, 214);
      margin: 15px;
    }
    button:focus{
      background-color: #373737;
      color: white;
    }
  }

  .content-tab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 80px;
    padding: 80px 40px;
    background-color: #e3e3e3;
    border-radius: 18px;
    h2 {
      font-size: 45px;
      margin-bottom: 25px;
    }
    .description-text,
    .description-img {
      width: 50%;
      img {
        margin: 0 auto;
      }
    }
    .installation-container {
      width: 100%;
      img{
        height: 400px;
        width: auto;
      }
      h2 {
        font-size: 25px;
      }
    }
  }
}

@media (max-width: 1175px) {
  .tabs-container {
    width: 100% !important;
    margin: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .tabs-buttons {
      width: 100%;
      display: flex;
      flex-direction: column;
      height: auto;
      margin-top: 140px;
      .tab-list {
        width: 100% !important;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0;
        margin-bottom: 280px;
        justify-content: center !important;
        align-items: center;
        button {
          width: 100%;
        }
        .tab {
          width: 100% !important;
          button {
            width: 100% !important;
          }
        }
      }
    }
    .content-tab {
      padding: 40px;
      margin: 0;
      flex-wrap: wrap;
      padding-bottom: 40px;
      width: 100%;
      .description-img {
        width: 100%;
        img {
          width: 40%;
          margin-bottom: 40px;
        }
      }
      .description-text {
        width: 100%;
        h2 {
          text-align: center;
          line-height: 50px;
        }
      }
    }
  }
  .carousel-title {
    margin-top: 80px;
    h2 {
      font-size: 25px;
    }
  }
}
